extends ../templates/layout

block title
  | Ted Boilerplate
  
block content
  h1 Ted Boilerplate
  p This is a boilerplate with an atomic design inspired file structure. It uses Jade (Pug) as template engine and Sass (scss) as preprocessor. Ready for Prepros compiler.
